.link-container {
    position: relative;
    margin-top: 10px;
}


.action-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.info-tooltip {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 2px;
    position: absolute;
    right: -14px;
    top: -10px;
}

.info-tooltip .info-text {
    visibility: hidden;
    width: 120px;
    padding: 16px 24px;
    color: var(--black-color);
    position: absolute;
    z-index: 99;
    width: 250px;
    left: -130px;
    top: 25px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    transition: all 0s ease-in-out .3s;
}

.info-text {
    font-size: 14px;
    border-radius: 4px;
    --webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0.77778px 2.99074px 0px rgba(0, 0, 0, 0.01), 0px 3.42222px 6.19259px 0px rgba(0, 0, 0, 0.02), 0px 8.4px 12.35px 0px rgba(0, 0, 0, 0.03), 0px 16.17778px 24.20741px 0px rgba(0, 0, 0, 0.03), 0px 27.22222px 44.50926px 0px rgba(0, 0, 0, 0.04), 0px 42px 76px 0px rgba(0, 0, 0, 0.05);   
    --webkit-box-shadow: 0px 0.77778px 2.99074px 0px rgba(0, 0, 0, 0.01), 0px 3.42222px 6.19259px 0px rgba(0, 0, 0, 0.02), 0px 8.4px 12.35px 0px rgba(0, 0, 0, 0.03), 0px 16.17778px 24.20741px 0px rgba(0, 0, 0, 0.03), 0px 27.22222px 44.50926px 0px rgba(0, 0, 0, 0.04), 0px 42px 76px 0px rgba(0, 0, 0, 0.05);   
    -moz-box-shadow: 0px 0.77778px 2.99074px 0px rgba(0, 0, 0, 0.01), 0px 3.42222px 6.19259px 0px rgba(0, 0, 0, 0.02), 0px 8.4px 12.35px 0px rgba(0, 0, 0, 0.03), 0px 16.17778px 24.20741px 0px rgba(0, 0, 0, 0.03), 0px 27.22222px 44.50926px 0px rgba(0, 0, 0, 0.04), 0px 42px 76px 0px rgba(0, 0, 0, 0.05);   
}

.info-text a {
    color: var(--green-color);
    text-decoration: none;
    font-weight: 700;
}


.info-icon {
    /* width: 16px;
    height: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 2px; */
    width: 100%;
}


.info-tooltip:hover .info-text {
    visibility: visible;
}

.check-container {
    padding: 0px 10px;
    border-radius: 50px;
    --webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background-color: transparent;
    position: absolute;
    right: -10px;
}

.check-container:hover {
    background-color: var(--light-green-color);
    opacity: .5;
}

.checked-icon {
    width: 26px;
    z-index: -1;
}

.badge-container {
    gap: 3px;
}

.color-rec {
    width: 16px;
    height: 16px;
    border: 2px solid transparent;
    cursor: pointer;
}

.color-rec:hover {
    opacity: .8;
}

.color-selected {
    border-color: var(--gray-color);
}

.select-icon {
    width: 40px; 
    height: 30px;
}

.select-icon circle {
    fill: transparent;
}

.select-icon:hover circle {
    fill: var(--light-green-color);
}