@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

:root {
  --blue-color: #2E3A8C;
  --green-color: #3B755F;
  --beige-color: #F2EBDB;
  --white-color: #F9F9F9;
  --black-color: #000000;
  --gray-color: #B0B0B0;
  --light-green-color: #AFC6BD;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', 'Roboto', 'Helvetica Neue', sans-serif;
  width: 100vw !important;
}

.list-container {
  max-width: 400px;
  margin: 3rem 1rem;
  padding: 36px;
  border-radius: 8px;
  --webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background: var(--white-color);
  box-shadow: 0px 0.77778px 2.99074px 0px rgba(0, 0, 0, 0.01), 0px 3.42222px 6.19259px 0px rgba(0, 0, 0, 0.02), 0px 8.4px 12.35px 0px rgba(0, 0, 0, 0.03), 0px 16.17778px 24.20741px 0px rgba(0, 0, 0, 0.03), 0px 27.22222px 44.50926px 0px rgba(0, 0, 0, 0.04), 0px 42px 76px 0px rgba(0, 0, 0, 0.05);
  --webkit-box-shadow: 0px 0.77778px 2.99074px 0px rgba(0, 0, 0, 0.01), 0px 3.42222px 6.19259px 0px rgba(0, 0, 0, 0.02), 0px 8.4px 12.35px 0px rgba(0, 0, 0, 0.03), 0px 16.17778px 24.20741px 0px rgba(0, 0, 0, 0.03), 0px 27.22222px 44.50926px 0px rgba(0, 0, 0, 0.04), 0px 42px 76px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0.77778px 2.99074px 0px rgba(0, 0, 0, 0.01), 0px 3.42222px 6.19259px 0px rgba(0, 0, 0, 0.02), 0px 8.4px 12.35px 0px rgba(0, 0, 0, 0.03), 0px 16.17778px 24.20741px 0px rgba(0, 0, 0, 0.03), 0px 27.22222px 44.50926px 0px rgba(0, 0, 0, 0.04), 0px 42px 76px 0px rgba(0, 0, 0, 0.05);
}


.list-title {
  border-bottom: 1px solid var(--black-color);
  padding-bottom: 1rem;
  font-size: 30px;
  text-align: center;
}

@media screen and (min-width: 990px) {
  .list-title {
    text-align: left;
  }
  .list-container {
    width: 100%;
    max-width: 850px;
  }
}

@media screen and (min-width: 850px) {
  .items-container {
    gap: 0rem;
  }
}